<div class="row justify-content-center col-xs-12 col-md-8 offset-md-2">
  <div>
    Here is the raffle link. Copy this and share with friends.
  </div>
  <div class="input-group">
    <input type="text" class="form-control" [value]="raffleLink" readonly>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ngxClipboard [cbContent]="raffleLink" (cbOnSuccess)="isCopied = true"
        [class.btn-success]="isCopied">
        {{isCopied ? 'Copied' : 'Copy Link'}}
        <span *ngIf="isCopied" class="fa fa-check" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div>