<form (submit)="onSubmit()" #form="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <h3>Please log in</h3>
          </div>
          <div class="card-body">
            <app-username-password [user]="user"></app-username-password>
            <input class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="form.invalid" value="Log in">
            <div class="text-center">
              Need an account?
              <a [routerLink]="'/sign-up'">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
