<form (submit)="onSubmit()" #form="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header">
            <h3>Please sign up</h3>
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-lg"></i>
                </span>
              </div>
              <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" placeholder="First Name"
                aria-label="First Name" pattern="^[a-zA-Z -]+$" required>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user fa-lg"></i>
                </span>
              </div>
              <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" placeholder="Last Name"
                aria-label="Last Name" pattern="^[a-zA-Z -]+$" required>
            </div>
            <app-username-password [user]="user"></app-username-password>
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid">Sign up
              <i class="fa fa-sign-in-alt"></i>
            </button>
            <div class="text-center">
              Have an account?
              <a [routerLink]="'/login'">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
