<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="fa fa-envelope"></i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
    aria-label="Email" id="email" name="email" [(ngModel)]="user.username" #email="ngModel" required>
  <div *ngIf="email?.errors?.pattern" class="alert alert-danger">
    Please enter a valid email address
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="fa fa-lock fa-lg"></i>
    </span>
  </div>
  <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password"
    aria-label="Password" required>
</div>
