<form (submit)="onSubmit()">

  <app-raffle-link [raffleLink]="raffleLink()"></app-raffle-link>  

  <div class="row">
    <div class="col-md-6">
      <div>
        <span>Title: </span>
        <span>{{raffle.title}}</span>
      </div>
      <div>
        <span>Cost per number: </span>
        <span>{{raffle.costPerNumber | currency:raffle.currencyCode:'symbol'}}</span>
      </div>
      <div>
        <span>Date created: </span>
        <span>{{raffle.created | date:'medium'}}</span>
      </div>
    </div>

    <div class="col-md-6 text-right" *ngIf="raffle.locked">
      This raffle is now locked.
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="head-row">
        <th scope="col">#</th>
        <th scope="col">Owner</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">
          <button *ngIf="hasSelections()" (click)="clearSelections()" type="button" class="btn btn-default buy"
            aria-label="Left Align">
            <span class="fa fa-trash-o" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let number of raffle.numbers">
        <th scope="row">{{number.number}}</th>
        <td>{{!!number.buyerName ? number.buyerName : '--'}}</td>
        <td>{{!!number.purchaseDate ? (number.purchaseDate | date:'medium') : '--'}}</td>
        <td>
          <button *ngIf="!number.sold" type="button" class="btn btn-secondary buy" [ngClass]="{'btn-success': isNumberSelected(number)}"
            (click)="toggleBuy(number)">
            <span [ngClass]="{'fa-check': isNumberSelected(number), 'fa-plus': !isNumberSelected(number)}" class="fa"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pull-right">
    <button *ngIf="!raffle.locked" type="submit" [disabled]="!hasSelections()" class="btn btn-primary">Continue</button>
  </div>
</form>